footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .form .sec{
    margin-right: 30px;
}

footer .form .sec{
    margin-right: 30px;
}
footer .form .sec.aboutus{
    width: 40%;
}
footer .form h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .form h2::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p{
    color: #999;
    
}
.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
display: inline-block;
width: 40px;
height: 40px;
background: #222;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
text-decoration: none;
border-radius: 4px;
}

.sci li a:hover{
    background: #f00;
}
 .sci li a .fa{
     color: #fff;
     font-size: 20px;
 }

 .quicklinks{
     position: relative;
     width: 25%;
 }
 .quicklinks ul li {
   list-style: none;
}
 .quicklinks ul li a{
     color: #999;
     text-decoration: none;
     margin-bottom: 10px;
     display: inline-block;
 }
 .quicklinks ul li a:hover{
     color: #fff;
 }

 .contact{
     width: calc(35% -60px);
     margin-right: 0 !important;
 }
 .contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span,.contact .info li a{
    color: #999;
    text-decoration: none;
}
.contact .info li span a:hover{
    color: #fff;
}

@media (max-width:801px)
{
    footer{
        padding: 40px;
    }
    footer .form{
        flex-direction: column;
    }

    footer .form .sec{
margin-bottom: 40px;
margin-right: 0;
    }
    footer .form .sec.aboutus ,.quicklinks ,.contact{
        width: 100%;
    }
}